<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Steno</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="container">
	<h2 class="title">Steno</h2>
	<a href="/auth/facebook"><center><img id="login" src="/images/login.png"></center></a>	
	
</div>
</body>
</html>