<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Steno</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
		<div style="position: fixed; top: 10px; left: 10px;"><a href=""><i class="fa fa-github" style="font-size: 3em;"></i></a></div>
		<div style="position: fixed; top: 10px; right: 10px;"><a href="">Give your Suggestions</a></div>

<div class="container">
	<h2 class="title">Steno</h2>
	<a href="/auth/facebook"><center><img id="login" src="/images/login.png"></center></a>	

	<div style="position: relative;">
		<p style="text-align: center;padding:0 10% 0 10%;">Hello Everyone, Login via facebook to the website. I have also added a section for suggestions as I ran out of ideas. Feel free to send me your feedback and suggestions. Enjoy!!</p>
	</div>
	
</div>
</body>
</html>