<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){

		  $('form').on('submit', function(){

		      var item = $('form input');
		      var todo = {item: item.val()};

		      $.ajax({
		        type: 'POST',
		        url: '/user/todo',
		        data: todo,
		        success: function(data){
		          //do something with the data via front-end framework
		          location.reload();
		        }
		      });
		      return false;
		  });

			  $('li').on('click', function(){
			      var item = $(this).text().replace(/ /g, "-");
			      $.ajax({
			        type: 'DELETE',
			        url: '/user/todo/' + item,
			        success: function(data){
			          //do something with the data via front-end framework
			          location.reload();
			        }
			      });
			  });
});
	</script>
</head>
<body>	

	<div id="platform">
		<form>
			<input type="text" name="item" placeholder="Enter your text" autocomplete="off" required id="ss">
			<button type="submit" id="create">Add</button>
		</form>
		<p>
			Type in the text area below to add text in your todo list. You can mark the topic done just by  clicking on the text. 
		</p>
		<ul>
			<% for(var i=0; i < todos.length; i++){ %>
			<li><%= todos[i].item %></li>
			<% } %>
		</ul>
	</div>
	<div class="container">
		<h2 class="title">Steno</h2>
		<div class="userBox">
			<div><img src="<%- user.profilePic %>" class="userPic"></div>
			<div><h3 class="userName"><%- user.fullname %></h3>
			<h3 class="logout"> <a href="/logout">Logout</a></h3></div>
		</div>
		<div class="underline"></div>

		<div id="navigation">
			<a href="/user/todo"><button>Your to-do list</button></a><br>
			<a href="/user/gethelp"><button>Get Help</button></a>			
		</div>
	</div>


</body>
</html>