<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){

		  $('form').on('submit', function(){

		      var item = $('form input');
		      var todo = {item: item.val()};

		      $.ajax({
		        type: 'POST',
		        url: '/user/todo',
		        data: todo,
		        success: function(data){
		          //do something with the data via front-end framework
		          location.reload();
		        }
		      });
		      return false;
		  });

			  $('li').on('click', function(){
			      var item = $(this).text().replace(/ /g, "-");
			      $.ajax({
			        type: 'DELETE',
			        url: '/user/todo/' + item,
			        success: function(data){
			          //do something with the data via front-end framework
			          location.reload();
			        }
			      });
			  });
});
	</script>
</head>
<body>	
	<h2 class="title">Steno</h2>
<div id="main">
		<div id="navigation">
			<img src="<%- user.profilePic %>" class="userPic">
			<h3 class="userName"><%- user.fullname %></h3>
			<a href="/user"><button class="nav">Home</button></a>
			<a href="/user/todo"><button class="nav">Your to-do list</button></a>
			<a href="/user/gethelp"><button class="nav">Get Help</button></a>
			<a href="/logout"><button class="nav">Logout</button></a>		
		</div>
		<div style="top:1%; position: absolute; left: 10px;"><a href=""><i class="fa fa-github" style="font-size: 3em;"></i></a></div>
		<div style="position: absolute; top: 2%; right: 10px;"><a href="">Give your Suggestions</a></div>


	<div id="platform">
		<p>
			Type in the text area below to add text in your todo list. You can mark the topic done just by clicking on the text. The item will disappear from your list. 
		</p>
		<form>
		<div>
			<div id="entry">
				<input type="text" name="item" placeholder="Enter your text" autocomplete="off" required id="ss">
			</div>
			<div id="enter">
				<button id="rightbutton" type="submit" id="create">Add</button>
			</div>
		</div>
		</form>
		<p>
		<div id="listitems">
			<ul style="color: #474747;">
				<% if(todos[0].todo === undefined) {todos[0].todo = [{}];} %>
				<% for(var i=0; i < todos[0].todo.length; i++){ %>
				<li><%= todos[0].todo[i].item %></li>
				<% } %>
			</ul>
		</div>
		</p>
	</div>
</div>
</body>
</html>