@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
    font-family: 'Josefin Sans', sans-serif;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    padding: 20px;
    width: 70%;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 100%;
    float: left;
    background: #23282e;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#create{
    padding: 20px;
    width:20%;
    float: right;
    background: #23282e;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    bottom: 10px;
    position: fixed;
    right: 10px;
}
#ss{
    bottom: 0;
    position: fixed;
    left: 1%;
    width: 74%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    background: rgba(0,0,0,0.2);
}

h1{
    background: url(/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 3em;
}

#login{
    width: 300px;
}

.userbox{
    max-width:40%;
}

a{
    text-decoration: none;
    color: white;
}
.logout {
    position: absolute;
    top: 200px;
    left: 280px;
    font-size: 1.8em;
    color: white;
}
.userName {
    position: absolute;
    top: 150px;
    left: 250px;
    font-size: 1.8em;
}


.underline {
    position: absolute;
    top: 120px;
    width: 99%;
    height: 3px;
    background-color: #4B5770;

}

#navigation {
    max-width: 500px;
}

#platform {
    margin-top: 90px;
    margin-left: 515px;
    position: absolute;
    width: auto;
}

p {
    font-size: 1.8em;
}

#container {
    position: fixed;
}
#ss{
    bottom: 10px;
}
.remove {
    text-decoration: line-through;
}